body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgba(0, 0, 50, 0.662);
}

.container {
  display: flex;
  border: 6px solid whitesmoke;
  border-radius: 300px;
  width: 190px;
  height: 190px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10%;

  .timer {
    display: flex;
    color: wheat;
    width: 100%;
    justify-content: center;
    align-items: center;

    h4,
    h6 {
      font-size: 1.5rem;
      margin: 0 10px;
    }
  }
}

.btn_container {
  width: 100%;
  text-align: center;
  .btn {
    width: 15%;
    height: 50px;
    font-size: 1.3rem;
    background-color: inherit;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      background-color: whitesmoke;
      color: rgba(0, 0, 50, 0.662);
      opacity: 0.7;
    }
  }
}

.showMsg {
  display: block;
  padding: 1rem 0;
  color: rgba(0, 0, 255, 0.629);
  background: rgb(255, 255, 255);
  border-radius: 0.5rem;
  transition: 0.3s ease;
  width: 50%;
  text-align: center;
  margin: 20px auto;
  font-size: 1rem;

}
